{layout='layouts/_member-layout'}

{!--
	404 redirect
	============
	This is a multi-entry channel page, it doesn't need third segment as is. So we use the following code to make sure the page sends a 404 if someone types in an incorrect URL in the browser address bar. i.e. http://example.com/member/sub-page/nothing
--}
{if segment_3}
	{redirect='404'}
{/if}

{!-- page vars (prefix p_) --}
{preload_replace:p_title='member {site_name}'}
{preload_replace:p_description='member {site_name}'}
{preload_replace:p_url='member'}
{!-- channel vars (prefix ch_) --}
{preload_replace:ch='member'}
{preload_replace:ch_status='Open|Default Page'}
{preload_replace:ch_disable='categories|category_fields|member_data|pagination'}
{!-- layout vars, channel/page related --}
{layout:set name='ch' value='{ch}'}
{layout:set name='p_url' value='{p_url}'}
{layout:set name='p_title' value='{p_title}'}
{layout:set name='ch_disable' value='{ch_disable}'}
{layout:set name='ch_status' value='{ch_status}'}
{if segment_2}{layout:set name='entry_ch' value='{ch}'}{/if}

{!-- content output --}
<h1>{title}</h1>
{!-- page_content is a textarea with HTML output we don't need to wrap this tag with HTML as that is already included in it's output. --}
{page_content}
{!-- /content output --}	

{exp:member:login_form}

	<label>Username</label><br />
	<input type="text" name="username" value="" maxlength="32" size="25" />
	<label>Password</label><br />
	<input type="password" name="password" value="" maxlength="32" size="25" />

	<input type="submit" name="submit" value="Submit" />

{/exp:member:login_form}

