{layout='layouts/_member-layout'}

{!--
	404 redirect
	============
	This is a multi-entry channel page, it doesn't need third segment as is. So we use the following code to make sure the page sends a 404 if someone types in an incorrect URL in the browser address bar. i.e. http://example.com/member/sub-page/nothing
--}
{if segment_3}
	{redirect='404'}
{/if}

{!-- page vars (prefix p_) --}
{preload_replace:p_title='member {site_name}'}
{preload_replace:p_description='member {site_name}'}
{preload_replace:p_url='member'}
{!-- channel vars (prefix ch_) --}
{preload_replace:ch='member'}
{preload_replace:ch_status='Open|Default Page'}
{preload_replace:ch_disable='categories|category_fields|member_data|pagination'}
{!-- layout vars, channel/page related --}
{layout:set name='ch' value='{ch}'}
{layout:set name='p_url' value='{p_url}'}
{layout:set name='p_title' value='{p_title}'}
{layout:set name='ch_disable' value='{ch_disable}'}
{layout:set name='ch_status' value='{ch_status}'}
{if segment_2}{layout:set name='entry_ch' value='{ch}'}{/if}

		{!-- channel entries tag --}
		{exp:channel:entries channel='{ch}' disable='{ch_disable}' limit='1'{if segment_2} require_entry='yes'{if:else} status='Default Page'{/if}}
			{!-- layout vars, dynamic, not output --}
			{layout:set name='title' value='{if seo_title}{seo_title}{if:else}{p_title}{/if}{gv_sep}'}
			{layout:set name='description' value='{if seo_desc}{seo_desc}{if:else}{p_description}{/if}'}
			{!-- OpenGraph meta output --}
			{layout:set name='og_title' value='{if seo_title}{seo_title}{if:else}{p_title}{/if}'}
			{layout:set name='og_url'}{path='{p_url}'}{/layout:set}
			{layout:set name='og_description' value='{if seo_desc}{seo_desc}{if:else}{p_description}{/if}'}
			{!-- /layout vars, dynamic, not output --}

			{!-- content output --}
			<h1>{title}</h1>
			{!-- page_content is a textarea with HTML output we don't need to wrap this tag with HTML as that is already included in it's output. --}
			{page_content}
			{!-- /content output --}	
            {exp:member:registration_form
                return="member/registration/success"
                }
            
                {if errors}
                    <fieldset class="error">
                        <legend>Errors</legend>
                    {errors}
                        {error}<br />
                    {/errors}
                    </fieldset>
                {/if}
            
                    <p>* Required fields</p>
                <fieldset>
                    <h4>Login details</h4>
            
                    <p>
                        <label for="username">Username*:</label><br />
                        <input type="text" name="username" id="username" value="{if username}{username}{/if}"/><br />
                    </p>
            
                    <p>
                        <label for="email">Email*:</label><br />
                        <input type="text" name="email" id="email" value="{if email}{email}{/if}"/><br />
                    </p>
            
                    <p>
                        <label for="something">Something*:</label><br />
                        <input type="text" name="something" id="something" value="{if something}{something}{/if}"/><br />
                    </p>
            
                    <p>
                        <label for="password">Password*:</label><br />
                        <input type="password" name="password" id="password" value="{if password}{password}{/if}"/>
                    </p>
            
                    <p>
                        <label for="password_confirm">Confirm password*:</label><br />
                        <input type="password" name="password_confirm" id="password_confirm" value="{if password_confirm}{password_confirm}{/if}"/>
                    </p>
            
                    <p>
                        <label for="terms_of_service">Terms of service:</label><br />
                        <div>All messages posted at this site express the views of the author, and do not necessarily reflect the views of the owners and administrators
                            of this site.By registering at this site you agree not to post any messages that are obscene, vulgar, slanderous, hateful, threatening, or that violate any laws. We will
                            permanently ban all users who do so.We reserve the right to remove, edit, or move any messages for any reason.</div>
                    </p>
            
                    <p>
                        <label><input type="checkbox" name="accept_terms" value="y" {if accept_terms == 'y'}checked="checked"{/if} /> I accept these terms</label>
                    </p>
            
                    {if captcha}
                    <p>
                        <label for="captcha">{lang:captcha}*</label>
                        {captcha}<br/>
                        <input type="text" id="captcha" name="captcha" value="" size="20" maxlength="20" style="width:140px;"/>
                    </p>
                    {/if}
                </fieldset>
            
                <input type="submit" value="Register" class="btn btn-primary" />
            {/exp:member:registration_form}

			{!--
				no results redirect
				===================
				If the entry doesn't exist, we redirect to 404. This works in tandem with the require_entry='yes' parameter on the channel entries tag.
			--}
			{if no_results}
				{redirect='404'}
			{/if}
		{/exp:channel:entries}
